.current {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-top: 25px;
}

.current li {
    border: 1px solid black;
    border-radius: 5px;
    /*width: 30%;*/
    margin: 0 auto;
    padding: 10px;


}


li p, h4 {
    margin: 0;
}

.main {
    margin-right: 20px;
}

.img {

}

.week {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.week li {
    font-size: 12px;
    margin-right: 10px;
    border: none;
}


.day {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.close {
    position: relative;
    left: calc(100% - 25px);
    top: 10px;

}

.close:hover {
    cursor: pointer;
}

.close span {
    width: 25px;
    height: 2px;
    background: black;
    content: '';
    position: absolute;
}

.close span:first-child{
    transform: rotate(45deg);
    left: 0;

}

.close span:last-child{
    transform: rotate(-45deg);
    left: 0;
}
