.current {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-top: 25px;
}

.current li {
    border: 1px solid black;
    border-radius: 5px;
    /*width: 30%;*/
    margin: 0 auto;
    padding: 8px;


}


li p, h4 {
    margin: 0;
}

.main {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    width: 100%;
    align-items: center;
}

.main h2 {
    margin-right: 10px;
}

.img {

}

.week {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.week li {
    font-size: 12px;
    /*margin-right: 10px;*/
    border: none;
}

.week li:last-child {
    margin-right: 0;
}


.day {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
}

.close {
    position: relative;
    width: 25px;
    /*left: calc(100% - 25px);*/
    /*top: 10px;*/

}

.close:hover {
    cursor: pointer;
}

.close span {
    width: 25px;
    height: 2px;
    background: black;
    content: '';
    position: absolute;
}

.close span:first-child{
    transform: rotate(45deg);
    left: 0;

}

.close span:last-child{
    transform: rotate(-45deg);
    left: 0;
}

.weather_now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_weather {
    display: flex;
}
/*.date {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: left;*/
/*    position: absolute;*/
/*}*/
